@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Hanken Grotesk';
}

*::selection {
    background-color: #0E0E0E;
    color: #ECECEC;
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}